*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgb(230, 235, 235);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App{
  width: 80%;
  margin: auto;
  margin-top: 60px;
}


.title{
  text-align: center;
}
.title h1{
  font-size: 45px;
}
.title i{
  transform: scale(7, 1.5);
  color:rgb(179, 124, 53);
}


.NavButtons{
  text-align: center;
}

.NavButtons button{
  background-color: transparent;
  border: none;
  color:rgb(179, 124, 53) ;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.NavButtons button:focus{
  border-bottom: 1px solid rgb(179, 124, 53);
}

.NavButtons button:hover{
  background-color: rgb(179, 124, 53);
  color: white;
  border-radius: 5px;
  transition:all 0.3s ease-in;
}






.Main-container{
  width: 100%;
  display: grid;
  gap: 0% 4%;
  justify-items: center;
  margin: auto;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
}




.menu-item{
  display: grid;
  width: 100%;
  gap: 5%;
  grid-template-columns: 230px 1fr;
  transition: all 0.5s ease-in;
  cursor: pointer;
  margin-bottom: 40px;
 
}
.food{
  width: 100%;
  height: 160px;
  border: 5px solid rgb(179, 124, 53) ;
  border-radius: 5px;
}
.menu-item:hover{
  transition: all 0.5s ease-out;
  transform: scale(1.1);
  box-shadow: 1px 1px 15px silver;
  border-radius: 5px;
}

.item-info{
  margin: 10px 10px 0px 0px;
}
.item-info header{
  display: flex;
  justify-content: space-between;
  letter-spacing: 1.5px;
}

.item-text{
  margin-top: 5px;
  color: rgb(85, 91, 102);
  line-height: 25px;
  
}




